html {
    max-width: 1200px;
    margin:auto;
    background-color: #1a6fbf;
}
footer {
    background-color: #1a6fbf;
}

svg:hover path{
    fill: #dc3545;
}

svg:hover polygon{
    fill: #dc3545;
}